<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='SwiftTunnel'
        UpgradeCode='BA1DE162-87F1-4BDF-AEEE-B0D6BA068BB1'
        Manufacturer='SwiftTunnel'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='SwiftTunnel - Game Booster'
            Manufacturer='SwiftTunnel'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='SwiftTunnel Installation'/>

        <!-- Application Icon -->
        <Icon Id='SwiftTunnelIcon.ico' SourceFile='assets\swifttunnel.ico'/>
        <Property Id='ARPPRODUCTICON' Value='SwiftTunnelIcon.ico'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramMenuFolder' Name='Programs'>
                <Directory Id='ApplicationProgramsFolder' Name='SwiftTunnel'>
                    <Component Id='StartMenuShortcut' Guid='*'>
                        <Shortcut Id='ApplicationStartMenuShortcut'
                            Name='SwiftTunnel'
                            Description='SwiftTunnel - Game Booster'
                            Target='[Bin]swifttunnel-fps-booster.exe'
                            WorkingDirectory='Bin'
                            Icon='SwiftTunnelIcon.ico'/>
                        <RemoveFolder Id='CleanUpShortCut' Directory='ApplicationProgramsFolder' On='uninstall'/>
                        <RegistryValue Root='HKCU' Key='Software\SwiftTunnel' Name='installed' Type='integer' Value='1' KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>
            <Directory Id='DesktopFolder' Name='Desktop'>
                <Component Id='DesktopShortcut' Guid='*'>
                    <Shortcut Id='ApplicationDesktopShortcut'
                        Name='SwiftTunnel'
                        Description='SwiftTunnel - Game Booster'
                        Target='[Bin]swifttunnel-fps-booster.exe'
                        WorkingDirectory='Bin'
                        Icon='SwiftTunnelIcon.ico'/>
                    <RegistryValue Root='HKCU' Key='Software\SwiftTunnel' Name='desktopShortcut' Type='integer' Value='1' KeyPath='yes'/>
                </Component>
            </Directory>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='SwiftTunnel'>
                    <Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='2DCCC201-4EE9-44BB-9FB4-D45707D113F7' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>
                        <Component Id='MainBinary' Guid='*'>
                            <File
                                Id='exe0'
                                Name='swifttunnel-fps-booster.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\swifttunnel-fps-booster.exe'
                                KeyPath='yes'/>
                        </Component>
                        <Component Id='WintunDll' Guid='*'>
                            <File
                                Id='wintun'
                                Name='wintun.dll'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\wintun.dll'
                                KeyPath='yes'/>
                        </Component>
                        <!-- URL Protocol Registration for swifttunnel:// deep links (OAuth callback) -->
                        <Component Id='UrlProtocol' Guid='E8A7B9C1-3D5F-4A2E-8B6C-1F9D0E2A3B4C'>
                            <RegistryKey Root='HKCR' Key='swifttunnel'>
                                <RegistryValue Type='string' Value='URL:SwiftTunnel Protocol'/>
                                <RegistryValue Name='URL Protocol' Type='string' Value=''/>
                            </RegistryKey>
                            <RegistryKey Root='HKCR' Key='swifttunnel\shell\open\command'>
                                <RegistryValue Type='string' Value='"[Bin]swifttunnel-fps-booster.exe" "%1"' KeyPath='yes'/>
                            </RegistryKey>
                        </Component>
                        <Component Id='SplitTunnelDriver' Guid='*'>
                            <File
                                Id='splittunnel'
                                Name='mullvad-split-tunnel.sys'
                                DiskId='1'
                                Source='$(var.DriversDir)\mullvad-split-tunnel.sys'
                                KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs SwiftTunnel and required files.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='MainBinary'/>
            <ComponentRef Id='WintunDll'/>
            <ComponentRef Id='SplitTunnelDriver'/>
            <ComponentRef Id='UrlProtocol'/>
            <ComponentRef Id='StartMenuShortcut'/>
            <ComponentRef Id='DesktopShortcut'/>

            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location of the [ProductName] executable to the PATH system environment variable.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>
        </UI>

    </Product>

</Wix>
