<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle
        Name="SwiftTunnel Setup"
        Version="1.0.8.0"
        Manufacturer="SwiftTunnel"
        UpgradeCode="6A7B4A14-9C42-4A24-9D67-8F70A8D2F3B9"
        Compressed="yes"
        IconSourceFile="$(var.InstallerDir)\swifttunnel.ico"
        InstallPrivilegeLevel="elevated">

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseFile="$(var.InstallerDir)\license.rtf" />
        </BootstrapperApplicationRef>

        <Chain>
            <MsiPackage
                SourceFile="$(var.MsiPath)"
                PerMachine="yes"
                DisplayInternalUI="yes"
                Vital="yes" />
        </Chain>
    </Bundle>
</Wix>
